{% extends "template.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="w3-container">
    <h2>Register User</h2>
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username</label>
        <input class="w3-input w3-border" type="text" name="username" required>
        <label for="password">Password</label>
        <input class="w3-input w3-border" type="password" name="password" required>
        <button class="w3-button w3-blue" type="submit">Register</button>
    </form>
</div>
{% endblock %}

